<div class="page" fxLayout="column" fxLayoutAlign="start stretch">
  <div class="header" fxFlex="0 0 30px">
    <div fxLayout="row" fxLayoutAlign="space-around stretch">
      <div fxFlex="0 0 300px">Discovered {{orderableList.length - 4}}/{{names.length - 4}}</div>
      <div fxFlex fxFlexFill>{{title}}</div>
    </div>
  </div>
  <div class="workspace" fxFlex fxFlexFill fxLayout="row" ngxSplit="row">
    <div class="builder-source" fxFlex="0 1 300px" minBasis="140px" maxBasis="50%" ngxSplitArea>
      <ngx-input [(ngModel)]="filter" (keyup)="updateFilter($event.target.value)">
          <ngx-input-suffix>
            <ngx-icon fontIcon="x" *ngIf="filter.length" (click)="updateFilter()"></ngx-icon>
            <ngx-icon fontIcon="search" class="search-icon pull-left"></ngx-icon>
          </ngx-input-suffix>
      </ngx-input>
      <div class="ngx-dnd-container" ngxDroppable [copy]="true" [model]="filteredItems">
        <div class="ngx-dnd-item"
          ngxDraggable="['target']"
          *ngFor="let item of filteredItems"
          [model]="item"
          (dblclick)="addItem(item)"
          ngx-tooltip
          tooltipPlacement="right"
          [tooltipTitle]="getRecipies(item)"
          [@fadeIn]="'in'">
          {{item}}
        </div>
      </div>
    </div>
    <div class="split-handle" fxFlex="0 0 10px" ngxSplitHandle></div>
    <div class="builder-target" fxFlex fxFlexFill ngxSplitArea>
      <ngx-charts-directed-graph
        class="directed-graph"
        [links]="hierarchialGraph.links"
        [nodes]="hierarchialGraph.nodes"
        [scheme]="colorScheme"
        orientation="TB"
        [curve]="curve">

        <!-- ng-template #nodeTemplate let-node>
          <svg:g class="node"
            ngx-tooltip
            [tooltipPlacement]="'top'"
            [tooltipType]="'tooltip'"
            [tooltipTitle]="node.label">
            <svg:rect [attr.width]="node.width" [attr.height]="node.height" [attr.fill]="node.options.color" />
            <svg:text alignment-baseline="central" [attr.x]="10" [attr.y]="node.height / 2">{{node.label}}</svg:text>
          </svg:g>
        </ng-template -->

      </ngx-charts-directed-graph>
      <div class="start-help" *ngIf="orderableList.length <= 4">
        <img src="assets/alchemist.jpg" />
        <br />
        Combine elements here.... see what you can make!
      </div>
      <div class="ngx-dnd-container"
        ngxDroppable
        dropZone="target"
        removeOnSpill="true"
        [model]="workbenchList"
        (drop)="onChange($event)"
        (remove)="onChange($event)">
        <div class="ngx-dnd-item"
          ngxDraggable="['target']"
          *ngFor="let item of workbenchList"
          [model]="item"
          (dblclick)="removeItem(item)">
          {{item}}
        </div>
      </div>
    </div>
  </div>
</div>

